:root {
  --branding-color: purple;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
  line-height: 1.5;
}
h1,
h2,
h3,
h4 {
  font-family: var(--default-font-family);
  font-weight: bold;
  color: black;
}
h1 {
  font-size: 96px;
}

h2 {
  font-size: 44px;
}
p {
  text-transform: capitalize;
  font-weight: normal;
  font-size: 16px;
}

.hero {
  text-align: center;
  background: var(--secondary-color);
  padding: 100px 10px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
  font-family: var(--default-font-familyl);
}
.about-section{
  padding: 100px 10px;
}
.about-section h1 {
    font-size: 64px;
    line-height: 80px;
}
.about-section h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}
.about-section-content{
  margin: 30px;
}
.btn-branding {
  color: var(--branding-color);
  border-radius: 4px;
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-yoghurt {
  color: var(--branding-color);
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
}
.btn-branding-weather {
  color: var(--branding-color);
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
}
.btn-branding-manifestation {
  color: var(--branding-color);
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img,
svg {
  vertical-align: middle;
}
.project-desciption {
  padding: 120px 60px;
}
@media (max-width: 900px) {
  .hero {
    padding: 80px 20px;
  }
  h1 {
  font-size: 44px;
}

h2 {
  font-size: 22px;
}
.about-section{
  text-align: center;
  padding: 0px;
}

}
.mb-5 {
  margin-bottom: 3rem !important;
}
